*{
  font-family: cursive;
}

body{
    background-image: url("background1.jpeg");
    background-size: cover;
}
.navbar{
    background-color: rgb(239, 130, 12);
    color: white;
    padding: 4px;
    margin: 4px;
    border: 2px;
    border-color: white;
    display:flex;
    cursor: pointer;
    height: fit-content;
}
.navbar ul{
    display: flex;
}
.navbar ul li{list-style: none; 
    font-size: 1.6rem;
    padding: 4px;
    margin: 5px;
}
.nav-search{
    display: flex;
    height: 22px;
    padding-left: 35px;
    padding-top: 28px;
    scroll-padding-right:5px ;

}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    border:2px solid orangered;
    border-radius: 5px;
    color: black;
    background-color: white;
}

  .box a{
    display:flex;
    width:500px;
    height:400px ;
    color: aliceblue;
    
    border-color:orange;
    border-radius: 4px;
    padding: 4px;

  }
  .topic{
    color: white;
    font-size: large;
    font-weight: 200;
    text-align: center;
  }

    .box1 a{
        display:flex;
        width:600px;
        height:400px ;
        color: aliceblue;
        
        border-color:orange;
        border-radius: 4px;
        padding: 4px;
    }
    .container{
            color:black;
            background-color: #f2f2f2;
            padding: 5px 20px 15px 20px;
            border: 1px solid lightgray;
            border-radius: 4px;
            opacity: 100%;
    }
    .main_heading{
        text-align: center;
    }
    textarea{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
.container1{
    background-color: #f37c14;
    color: white;
    padding:12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.popup{
    width:400px;
    background:#fff;
    position:absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility:hidden;
    transition: transform 0.4s,top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}


  .popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  .popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
 }
 .popup button{
    width:100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:#fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 }